// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: "Arial";
  font-size: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
p {
  font-family: "Arial";
  font-weight: lighter;
  color: rgba(0,0,0, 0.7);
}
.container {
  width: 480px;
  margin: 40px auto;
}
.form-group {
  font-size: 24px;
}
input {
  height: 32px;
  margin-right: 0px;
  padding-right: 0px;
}
#input {
  width: 320px;
  height: 24px;
  border-radius: 8px 0 0 8px;
}
#btn {
  background-color: blue;
  margin-left: 0px;
  padding-left: 0px;
  width: 50px;
  border-radius: 0 8px 8px 0;
}
